# Environment variables
.env
.env.*

# Service account files
service-account*.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# VS Code
.vscode/

# macOS
.DS_Store

# Distribution / packaging
dist/
build/
*.egg-info/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Local development
.idea/

.streamlit/secrets.toml
.vercel
